body {
  background-color: #f6eacc;
}
.container {
  display: flex;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;
}
.app_name {
  text-shadow: 1px 1px 2px #14aa0e;
  color: #1d5c1b;
}
.sidebar {
  width: 50px;
  background-color: #1d5c1b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  position: fixed;
  height: 160vh;
}

.sidebar.open {
  width: 150px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
  font-size: 20px;
}

.sidebar a:hover {
  background-color: #15ff00;
  padding: 10px;
  transform: translateX(10px);
}
.top {
  margin-top: 60px;
}

.detail {
  opacity: 0;
}
.content {
  flex-grow: 1;
  padding: 20px;
  padding-left: 60px;
  background-color: #f6eacc;
  width: 100%;
  margin-left: 50px;
}

.content.shifted {
  margin-left: 150px;
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  gap: 25%;
}
#logo {
  border-radius: 100%;
}
.text {
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
#productDropdown {
  width: 300px;
  height: 25px;
  border-radius: 10px;
  background-color: white;
}
.alternative {
  display: flex;
  justify-items: center;
}
.blog {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.sub_blog {
  height: 335px;
  width: 374px;
  background-color: #ffffdd;
  box-shadow: 1px 1px 5px 1px;
  text-align: center;
  padding: 25px;
}
.mini_info {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.blog_link {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}
.menu-button {
  position: fixed;
  top: 40px;
  left: 30px;
  background-color: #669465;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
  color: #ccffd0;
}
.feedback {
  text-align: center;
  background-color: bisque;
  margin: 4px;
  padding: 20px;
}
#topic {
  text-align: center;
}
.img {
  border-radius: 15px;
  box-shadow: 1px 0px 9px 2px;
}
form,
input,
textarea,
button {
  font-size: 20px;
  font-weight: bold;
}
button {
  background-color: #1d5c1b;
  border-radius: 10px;
  margin-top: 5px;
  color: whitesmoke;
  cursor: pointer;
}
.last_quote {
  margin: 0;
}
#contact {
  font-weight: bold;
}
#converter,
#feedback,
#topic,
#blogs {
  text-decoration: underline;
}
